* {
    box-sizing: border-box;
  }

  body{
    font-family:'Poppins', sans-serif;
    height: 100%;
    margin: 0px 50px;
    padding: 50px;
    overflow-x: hidden; 
  }

  h1{
    font-size: 70px;
    font-weight: 800;
    color: #765980;
  }

  h2{
    font-size: 40px;
    font-weight: 700;
    color: #765980;
    margin: 20px 0px 0px 0px;
  }

  h3{
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0px;
  }

  h4{
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px;
  }

  ul{
    font-size: 14px;
    font-weight: 300;
  }

  p{
    font-size: 14px;
    font-weight: 300;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
  float: left;
  /* padding: 10px; */
  }
  
  .left {
    width: 70%;
    padding: 40px 100px;
  }
  
  .right {
    width: 30%;
    padding: 40px 90px;
  }

  .column-header-left{
    width: 70%;
    float: left;
    margin-bottom: 30px;
  }

  .column-header-right{
    width: 30%;
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .non-bullet-list{
    list-style-type: none;
    margin-top: 50px;
    font-family:'Poppins', sans-serif;
  }

  a{
    text-decoration: none;
    font-family:'Poppins', sans-serif;
  }

  .dates{
    color:#666666;
  }